@import "flex.scss";
@import "_reset.scss";
@import "_responsive.scss";

$gaugesWidth: 175px;
$ledSize: 25px;

// Colors: 
$warning : #FF9900;

body {
     background-color: #fff;
     background-image: url("../img/alu-wall.jpg");
     background-position: fixed;
     background-size: cover;
     background-repeat: no-repeat;

     header {
          height: 100px;
          text-align: center;
          margin-bottom: 50px;

          h1 {
               font-size: 50px;
          }
     }

     main {
          width: 100%;
          justify-content: space-around;

          section {
               width: 30%;
               min-width: 300px;
               text-align: center;

               padding: 30px 5px;

               h2 {
                    font-size: 40px;
                    color: $warning;
                    border: 3px solid black;
                    border-radius: 10px;
                    width: 60%;
                    margin: 0 auto 50px auto;
                    padding: 10px;
                    background-image: url("../img/alu-wall.jpg");
                    text-shadow: 2px 2px 2px black;

               }

               figure.main-gauges {
                    border: 3px solid black;
                    box-shadow: 5px 5px 5px black;
                    width: $gaugesWidth;
                    height: $gaugesWidth;
                    border-radius: $gaugesWidth;
                    margin: 10px auto;
               }

               .controls {
                    width: 100%;
                    justify-content: space-around;
                    margin: 50px 0;
                    div {
                         width: 30%;
                         height: 150px;
                         text-align: center;
                    }

                    .actives {
                         input.slideVertical {
                              transform: rotate(-90deg);
                              margin: 50px 0;
                         }
                    }

                    .passives {

                         .leds {
                              width: $ledSize;
                              height: $ledSize;
                              border-radius: $ledSize;
                              border: 2px solid silver;
                              box-shadow: 5px 5px 5px black;
                         }

                         .led-green {
                              background: rgb(0,255,12);
                              background: radial-gradient(circle, rgba(0,255,12,1) 20%, rgba(7,136,29,1) 100%);
                         }

                         .led-red {
                              background: rgb(255,0,0);
                              background: radial-gradient(circle, rgba(255,0,0,1) 20%, rgba(136,7,7,1) 100%);
                         }

                         button {
                              width: max-content;
                              padding: 8px 16px;
                              border-radius: 10px;
                              background-color: silver;
                              box-shadow: 5px 5px 5px black;

                              font-weight: bold;
                              font-size: 20px;
                         }
                    }
               }

               progress {
                    
               }

          }
          section#left {
               #powerRange {
                    margin-top: 30px;
               }
          }
     }
}